.section-bg
  height: 450px

.services-content
  display: flex
  flex-flow: column nowrap
  gap: 8px

  @media (min-width: 1024px)
    margin-right: 50px

  @media (min-width: 1440px)
    margin-right: 70px