@import '../../App.sass'

.mobile-menu
  width: 100%
  height: 100%
  position: fixed
  z-index: 1

  .mobile-menu-inner
    height: 100vh
    width: 60%
    max-width: 200px
    padding: 20px
    background-color: $white100
    position: absolute
    z-index: 100
    gap: 20px
    display: flex
    flex-direction: column
    right: 0

    .mobile-menu-header
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%

      h6
        color: $black900
        padding: 0
        margin: 0
        font-weight: 700
        font-size: 1.2rem

      .mobile-menu-btn
        padding: 0
        background-color: transparent

    .mobile-menu-nav
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      gap: 24px
      padding: 0
      margin: 0

      .mobile-link
        color: $black900
        font-size: 1.1rem
        font-weight: 200

    .mobile-quote-btn
      background-color: $primary300
      color: $white100
      font-weight: 900
      font-size: 0.9rem
      padding: 10px 17px
      margin-top: 10px

      &:hover
        background-color: $black900
        color: $white100

  .overlay
    background-color: $black900
    opacity: 0.2
    z-index: 1