@import '../../App.scss';

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 12px;

    @media (min-width: 450px) {
      padding: 6px 12px;
    }
  
    @media (min-width: 768px) {
      padding: 8px 12px;
    }
  
    @media (min-width: 1024px) {
      padding: 12px 12px;
    }

    @media (min-width: 1440px) {
      max-width: 1440px;
      padding: 14px 12px;
    }

    .logo {
      margin-left: -6px;
      height: 40px;
  
      @media (min-width: 450px) {
      }
  
      @media (min-width: 768px) {
      }
  
      @media (min-width: 1024px) {
        height: 44px;
      }
  
      @media (min-width: 1440px) {
        height: 46px;
      }
    }
  
    .right {
      display: flex;

      @media (min-width: 768px) {
        gap: 10px;
      }
  
      @media (min-width: 1024px) {
        gap: 12px;
      }
  
      @media (min-width: 1440px) {
        gap: 14px;
      }

      button {
        background-color: $primary300;
        color: $white100;
        font-weight: 900;
        display: none;

        @media (min-width: 768px) {
          font-size: 0.75rem;
          display: block;
        }
    
        @media (min-width: 1024px) {
          font-size: 0.9rem;
        }

        &:hover {
          background-color: $black;
          color: $white100;
        }
      }
    }
  }
}
