@import '../../App.sass'

.services-card
  display: flex
  flex-flow: row nowrap
  gap: 14px
  align-items: center
  border: 1px solid $white500
  width: 100%
  padding: 10px
  border-radius: 6px

  .services-card-title
    color: $black700